.Minsss{
    display: flex;
/* 
   direction: row ; */
   justify-content: space-between;
   
}
.parag{
    width: 30%;
}
.box1{
display: flex;
justify-content: space-around;
width: 40%;
}
.btn1{
    
     border: none;
}
.btunn-group{
    
    border: 2px solid  whitesmoke;
    display: flex;
    border-radius: 20%;
    margin-right: 10px;
    
}