.sort-tabs {
  display: flex;
  column-gap: 20px;
  justify-content: right;
}

.sort-tab {
  cursor: pointer;
  padding: 5px 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 12px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.sort-tab.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.charts_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap !important;
  gap: 10px 20px !important;
}

.chart_container {
  max-height: 380px !important;
  border-radius: 15px;
  border: 2px solid rgb(248, 244, 244);
  padding: 5px;
}
.bottom_chart_container {
  max-height: 340px;
  border-radius: 15px;
  border: 2px solid rgb(248, 244, 244);
  background-color: #ffffff;
  padding: 5px;
}

.oee_chart {
  min-width: 70%;
  max-width: 73%;
}

.planned_vs_actual_chart {
  min-width: 25%;
  max-width: 25%;
}

.stats_container {
  min-width: 25%;
  max-width: 27%;
}

.downtime_chart {
  min-width: 38%;
}

.quality_chart {
  min-width: 29%;
}

.oee_chart_container {
  display: flex;
  gap: 10px;
}
.oee_bar_chart_container {
  min-width: 75%;
}
.oee_gauge_chart_container {
  min-width: 25%;
}
.gauge_chart_container {
  display: flex;
  justify-items: center;
  align-items: center;
}

.gauge_chart_label_container {
  min-width: 30%;
  font-size: 15px;
  font-weight: 600;
  color: black;
}
.label_container {
  font-size: 16px;
  font-weight: 500;
  color: #4d4a4a;
}
.unit_container {
  font-size: 10px;
  font-weight: 300;
  color: rgb(77, 74, 74);
}
.gauge_chart_bar_container {
  min-width: 70%;
}

.downtime_chart_container {
  display: flex;
  gap: 20px;
}

.downtime_chart {
  max-width: 40%;
}

.downtime_label_value_container {
  display: flex;
  gap: 10px;
  justify-items: center;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: black;
  padding: 40px 20px;
}

/* Loading Part */

.loading-screen {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-spinner {
  z-index: 9999 !important;
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #000000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
